@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:700,600,400");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/64003ff894369e0144c52628.63ff876f5e10006671af1e63.DHfVpsd.rcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
